p{
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-left: 70px;
}
a{
    text-decoration: none;
    color: gray;
    padding: 15px;
    font-size: 18px;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
nav{
    display: flex;
    background-color: hsl(0deg 0% 89.8%);
}
.option{
    margin-left: 100px;
    margin-top: 55px;
}
nav a:hover{
    color: black;
}
.src{
    background-color: hsl(218.82deg 8.06% 58.63%);
    height: 60%;
    color: white;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-top: 45px;
    margin-left: 180px;
}
.src i{
    color: white;
    padding-left: 4px;
    padding-right: 10px;
}
.src b{
    padding-right: 5px;
}