img{
     border-radius: 8px;
}
h1{
    font-size: 45px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.flex-container div{
    margin: 10px;
}
h1{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.text{
    background-color: hsl(217.5deg 25% 93.73%);
    border-radius: 8px;
}
.title3 img{
    width: 300px;
    height: 320px;
    object-fit: cover;
    object-position: 50% 50%;
}
.title3 .text{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 35px;
}
.title1 img{
    object-fit: cover;
    object-position: 50% 50%;
    width: 300px;
    height: 320px;
    margin-top: 18px;
    margin-right: 0;

}
.title1 h1{
    padding-top: 5px;
    padding: 5px;
}
.title1 .text{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;

}
.title2 img{
    object-fit: cover;
    object-position: 50% 50%;
    width: 290px;
    height: 295px;
    margin-bottom: 25px;
    margin-top: 11px;

}
.title2 .text{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    /* padding-top: 2px;
    padding-bottom: 2px; */
    display: flex;
    justify-content: center;
    flex: 1;

}
.title4 img{
    object-fit: cover;
    object-position: 50% 50%;
    width: 300px;
    height: 300px;
    margin-top: 10px;
}
.title4 h1{
    display: flex;flex: 1;justify-content: center;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 45px;
    padding-right: 45px;
 
    
}
.title4 .text{
    margin-left: 0;
    margin-right: 0;
}
