* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f8e8d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    gap: 50px;
}
.content{
    width: 60%;
    text-align: left;
}
h1{
    font-size: 60px;
    color: #222;
}
h1 span{
    font-weight: bold;
}
p{
    color: #444;
    margin: 25px 0;
    font-size: 22px;
    line-height: 1.5;
}
.btn{
    background-color: #ff5c5c;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 22px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}
.btn:hover{
    background-color: #e74c3c;
}
.image{
    width: 40%;
    display: flex;
    justify-content: center;
}
.image img{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    border: 6px solid white;
    object-fit: cover;
}
